body {
	background-color: #333333;
	font-family: sans-serif;
	color: white;
}

h1 { 
	width: auto;
	font-family: sans-serif;
	color: white;
	text-align: center;
	padding: 25px;
	margin-top: 10px;
}

p {
	color: white;
	font-family: sans-serif;
	margin-left: 20px;
}

.signup {
	color: white;
	font-family: sans-serif;
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.unsub {
	color: white;
	font-family: sans-serif;
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

a {
	color: hotpink;
}

.button {
	color: black;
}